<footer class="navbar navbar-inverse hidden-sm hidden-xs footer">
    <div class="col-md-2">
        <img class="logo-footer" src="~/App/Main/images/logo-tipografia-gris.png" alt="Logo ACR">
    </div>
    <div class="col-md-4 footer-text">
        <p>© 2014 Todos los derechos reservados ACR.</p>
    </div>
    <div class="col-md-6 footer-text">
        <a class="text-uppercase" href="#/administracion/politica-privacidad">Política de Privacidad</a>
        <a class="text-uppercase" href="#/administracion/terminos-condiciones">Términos y Condiciones</a>
        <a class="text-uppercase" href="#/administracion/preguntas-frecuentes">Preguntas Frecuentes</a>
    </div>
</footer>
